body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: underline;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

code {
  font-family: $monospace-font-family;
  word-break: keep-all;
  background-color: $code-background-color;
  border-radius: $base-border-radius;
  padding: 0.2em 0;
  white-space: nowrap;
  font-size: $small-font-size;

  &::before,
  &::after {
    content: "\00a0";
    letter-spacing: -0.1em;
  }

  pre & {
    display: block;
    padding: $code-block-spacing;

    &::before,
    &::after {
      display: none;
    }
  }
}

pre {
  line-height: 1.5;
  margin: 0 0 $small-spacing;
  padding: 3px;
}
