.container {
  @include grid-container;
  max-width: 40em;
  padding: $base-spacing 0;
  margin: 0 auto;
}

.container--full {
  @include grid-container;
  padding: $base-spacing 0;
  margin: 0 auto;
}
